body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.welcome-area{
    background-image: url(images/shapes/Frame\ 57.jpg);
    text-align: center;
}
.about-area{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.salmon-color{
    color: salmon;
}
.gray-color{
    color: gray;
    font-size: 35px;
}
.advertise-area{
    display: flex;
    margin-bottom: 100px;
}
.order-area{
    padding-left: 8%;
    width: 95%;
}
.order-area img{
    width: 80%;
}
.button-style{
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    padding: 20px 60px;
    border-radius: 50px;
}
.address-area{
    padding-left: 8%;
    width: 50%;
}
.address-area img{
    width: 60%;
    padding-left: 20%;
}
.address-area h1{
    font-size: 40px;
}
.content-style{
    padding-right: 8%;
    padding-top: 8%;
}
.recipe-content{
    text-align: center;
}
.recipe-item{
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    box-shadow: 7px 7px 40px gray;
}
.all-recipe-padding{
    padding-left: 5%;
    padding-right: 5%;
}
.recipe-item img{
    width: 100%;
}
.recipe-item h2{
    font-size: 25px;
}
